<div class="jumbotron jumbotron-fluid">
    <%= image_tag  "banner_culeke.jpg", class:"img-fluid"%>
    <div class= container-fluid>
        <div class="row">
            <h1 class= "col">
            Culeke!
            </h1>
        </div>
    </div>
</div>