<div class = "container-fluid mt-5" id= "obligos">
    <div class= "row justify-content-md-center">    
        <%= image_tag  "reglas.png", class: "col col-md-4" %>
    </div>
    <div class="row" style= "height: 3vh"></div>
    <div class= "row justify-content-md-center">
        <div style= "height: 5vh"></div>
        <div id="carrousel-obligos" class="carousel slide carousel-dark shadow-lg p-3 mb-5 col col-md-10" data-ride="carousel">
            <div class="carousel-inner text-center">
                <div class="carousel-item active">
                    <h3 class= "w-70 justify-content-center">
                        Abierto
                    </h3>
                    <p>
                        Todos muestran sus dados a sus contrincantes pero nadie ve que tiene en su respectiva mano!.
                    </p>
                </div>
                <div class="carousel-item">
                    <h3 class= "w-70">
                        Cerrado
                    </h3>
                    <p class= "w-70">
                        Nadie ve nada! Los cachos se quedan boca abajo durante esta partida
                    </p>    
                </div>
                <div class="carousel-item">
                    <h3 class= "w-70">
                        Keleku!
                    </h3>
                    <p class= "w-70">
                        Todo es al revéz! asdasdads
                    </p>
                </div>
                <!--<div class="carousel-item">
                    <%= image_tag  "reglas_culeke-min", class: "d-block w-100" %>
                    <div class="carousel-caption d-lg-none">
                        <h4>Recuerda decir CULEKE! antes de que inicie la ronda</h4>
                    </div>
                    <div class="carousel-caption d-none d-lg-block">
                        <h1>Recuerda decir CULEKE! antes de que inicie la ronda</h4>
                    </div>
                </div>-->
            </div>
            <a class="carousel-control-prev" href="#carrousel-obligos" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true", style= "color: black"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carrousel-obligos" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>