// Place all the styles related to the Home_Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "node_modules/bootstrap/scss/bootstrap";
@import "bootstrap/scss/bootstrap.css";
$light-gray: #777;

/* typography */

body {
    height: 100%;
    width: 100%;
    padding-top: 56px;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans' !important;
    line-height: 1;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: $light-gray;
}

p {
    font-family: 'Open Sans' !important;
    font-size: 1.1em;
    line-height: 1.7em;
}


/* header */

#logo {
    height: 10px !important;
    width: auto;
    max-height: 10px !important;
}

.navbar-brand {
    .img-responsive {
        height: auto;
        width: auto;
        max-height: 10px !important;
    }
}


/* footer */

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: $light-gray;
    a {
        color: #555;
        &:hover {
            color: #222;
        }
    }
    small {
        float: left;
    }
    ul {
        float: right;
        list-style: none;
        li {
            float: left;
            margin-left: 15px;
        }
    }
}

@media (max-width: 800px) {
    footer {
        small {
            display: block;
            float: none;
            margin-bottom: 1em;
        }
        ul {
            float: none;
            padding: 0;
        }
        li {
            float: none;
            margin-left: 0;
        }
    }
}

@mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
}


/* index page */

#banner {
    align-self: center !important;
}

.carousel-caption {
    h2 {
        text-shadow: 2px black;
    }
}

.jumbotron {
    background-size: cover;
}

#carrousel-obligos {
    .carousel-control-prev-icon {
        background-color: black;
        background-color: rgba(70, 70, 70, .25);
    }
    .carousel-control-next-icon {
        background-color: black;
        background-color: rgba(70, 70, 70, .25);
    }
}

.accordion {
    .card {
        .card-header {
            .btn-link {
                color: black;
            }
        }
    }
}