
<footer class="footer bg-dark" >
  <div class="container pt-4">
    <div class="row text-white">
      <div class="col-lg-8 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase text-center">Sobre el Culeke</h5>
        <p class= "text-justify">
          El culeke es un juego para compartir con tus amigos, somos una entidad sin fines de lucro. Todas las donaciones y cobros realizados en la plataforma serán utilizados para la mantención de la misma.
        </p>
      </div>
      <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase text-left">Unete a la comunidad!</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <a href="#" class="text-white">Registrate</a>
          </li>
          <li>
            <a href="#" class="text-white">Conviertete en Arbitro Oficial!</a>
          </li>
          <li>
            <a href="#" class="text-white">Dona</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pt-3 pb-3 text-center text-muted">
    <div class="col">
      <div>
        © 2021 Copyright:
        <a class="text-muted" href="https://culeke.com/">culeke.com</a>
      </div>
    </div>
  </div>
</footer>