
<footer class="bg-dark text-white text-left text-lg-start navbar navbar-exand-lg">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-9 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Sobre el Culeke</h5>
        <p>
          El culeke es un juego para compartir con tus amigos, somos una entidad sin fines de lucro. Todas las donaciones y cobros realizados en la plataforma serán utilizados para la mantención de la misma.
        </p>
      </div>
      <div class="col-lg-3 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Unete a la comunidad!</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-white">Registrate</a>
          </li>
          <li>
            <a href="#!" class="text-white">Conviertete en Arbitro Oficial!</a>
          </li>
          <li>
            <a href="#!" class="text-white">Dona</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center p-3 bg-dark" >
    © 2021 Copyright:
    <a class="text-white" href="https://culeke.com/">culeke.com</a>
  </div>
</footer>